In [1]:
import pandas as pd

In [5]:
a = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
a

   Yes   No
0   50  131
1   21    2

In [6]:
a = pd.DataFrame({
    'Bob': ['I liked it.', 'It was awful.'],
    'Sue': ['Pretty good.', 'Bland.']
})
a

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [7]:
a = pd.DataFrame(
    {
        'Bob': ['I liked it.', 'It was awful.'],
        'Sue': ['Pretty good.', 'Bland.']
    },
    index=['Product A', 'Product B'])
a

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [9]:
a[:'Product A']

                   Bob           Sue
Product A  I liked it.  Pretty good.

In [12]:
a['Bob']

Product A      I liked it.
Product B    It was awful.
Name: Bob, dtype: object

In [13]:
a['Bob']['Product A']

'I liked it.'

In [26]:
a.iloc[:, 1]

Product A    Pretty good.
Product B          Bland.
Name: Sue, dtype: object